VITE_FLEETPROOF_API_URL=http://localhost:3000/api/v1
VITE_VEHICLES_ENDPOINT_PATH=/vehicles
VITE_REPORTS_ENDPOINT_PATH=/reports
VITE_CASES_ENDPOINT_PATH=/cases
VITE_PRIME_UI_LICENSE_KEY=
VITE_SIGNIN_ENDPOINT_PATH=/authentication/sign-in
VITE_SIGNUP_ENDPOINT_PATH=/authentication/sign-up
VITE_USERS_ENDPOINT_PATH=/users
